name: CI

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # --------------------------------------------------------------------------------
      - name: Setup Rust
        uses: tracel-ai/github-actions/setup-rust@v8
        with:
          rust-toolchain: stable
          cache-key: stable-linux
      # --------------------------------------------------------------------------------
      - name: Audit
        run: xtask check audit
      # --------------------------------------------------------------------------------
      - name: Format
        shell: bash
        env:
          # work around for colors
          # see: https://github.com/rust-lang/rustfmt/issues/3385
          TERM: xterm-256color
        run: xtask check format
      # --------------------------------------------------------------------------------
      - name: Lint
        run: xtask check lint
      # --------------------------------------------------------------------------------
      - name: Typos
        uses: tracel-ai/github-actions/check-typos@v8
      # --------------------------------------------------------------------------------
      - name: Unit Tests
        run: xtask test unit
      # --------------------------------------------------------------------------------
      - name: Integration Tests
        run: xtask test integration
      # --------------------------------------------------------------------------------
      - name: Documentation Tests
        run: xtask doc tests

